function Controller.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
call Tablero.new 0
pop this 0
push pointer 0
return
function Controller.start 4
push argument 0
pop pointer 0
call Tablero.new 0
pop this 0
push this 0
call Tablero.drawTablero 1
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 1
push local 1
push constant 131
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Tablero.getBarra1 1
pop local 0
push local 0
call Barra.moveUp 1
pop temp 0
label IF_FALSE0
push local 1
push constant 133
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Tablero.getBarra1 1
pop local 0
push local 0
call Barra.moveDown 1
pop temp 0
label IF_FALSE1
push local 1
push constant 83
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
call Tablero.getBarra2 1
pop local 0
push local 0
call Barra.moveDown 1
pop temp 0
label IF_FALSE2
push local 1
push constant 115
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
call Tablero.getBarra2 1
pop local 0
push local 0
call Barra.moveDown 1
pop temp 0
label IF_FALSE3
push local 1
push constant 87
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 0
call Tablero.getBarra2 1
pop local 0
push local 0
call Barra.moveUp 1
pop temp 0
label IF_FALSE4
push local 1
push constant 119
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 0
call Tablero.getBarra2 1
pop local 0
push local 0
call Barra.moveUp 1
pop temp 0
label IF_FALSE5
push this 0
call Tablero.getBola 1
pop local 2
push this 0
call Tablero.moveBola 1
pop temp 0
push this 0
call Tablero.drawTablero 1
pop temp 0
push this 0
push local 2
call Tablero.setBola 2
pop temp 0
push this 0
call Tablero.getJugador1 1
pop local 3
push local 3
call Player.getMarcador 1
push constant 10
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 0
call Tablero.dispose 1
pop temp 0
push constant 0
return
label IF_FALSE6
push this 0
call Tablero.getJugador2 1
pop local 3
push local 3
call Player.getMarcador 1
push constant 10
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 0
call Tablero.dispose 1
pop temp 0
push constant 0
return
label IF_FALSE7
push constant 0
pop local 1
push constant 20
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
