function Tablero.new 0
push constant 8
call Memory.alloc 1
pop pointer 0
push constant 10
push constant 100
push constant 20
push constant 160
call Barra.new 4
pop this 0
push constant 492
push constant 100
push constant 502
push constant 160
call Barra.new 4
pop this 1
call Bola.new 0
pop this 2
call Player.new 0
pop this 3
call Player.new 0
pop this 4
push constant 275
push constant 50
call Numeros.new 2
pop this 5
push constant 215
push constant 50
call Numeros.new 2
pop this 6
push constant 0
pop this 7
push pointer 0
return
function Tablero.getBarra1 0
push argument 0
pop pointer 0
push this 0
return
function Tablero.getBarra2 0
push argument 0
pop pointer 0
push this 1
return
function Tablero.getBola 0
push argument 0
pop pointer 0
push this 2
return
function Tablero.setBola 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Tablero.drawTablero 0
push argument 0
pop pointer 0
push this 0
call Barra.drawBarra 1
pop temp 0
push this 1
call Barra.drawBarra 1
pop temp 0
push this 2
call Bola.drawBola 1
pop temp 0
push constant 254
push constant 0
push constant 256
push constant 255
call Screen.drawRectangle 4
pop temp 0
push this 5
push this 3
call Player.getMarcador 1
call Numeros.drawNumber 2
pop temp 0
push this 6
push this 4
call Player.getMarcador 1
call Numeros.drawNumber 2
pop temp 0
push constant 0
return
function Tablero.moveBola 1
push argument 0
pop pointer 0
push this 2
call Bola.clearBola 1
pop temp 0
push pointer 0
call Tablero.duplicarBola 1
pop temp 0
push this 2
call Bola.getPosy 1
push this 2
call Bola.getRadio 1
sub
push constant 10
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
call Bola.getDireccion 1
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 2
push constant 1
call Bola.setDireccion 2
pop temp 0
label IF_FALSE1
push this 2
call Bola.getDireccion 1
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
push constant 3
call Bola.setDireccion 2
pop temp 0
label IF_FALSE2
label IF_FALSE0
push this 2
call Bola.getPosy 1
push this 2
call Bola.getRadio 1
add
push constant 250
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 2
call Bola.getDireccion 1
push constant 1
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 2
push constant 0
call Bola.setDireccion 2
pop temp 0
label IF_FALSE4
push this 2
call Bola.getDireccion 1
push constant 3
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 2
push constant 2
call Bola.setDireccion 2
pop temp 0
label IF_FALSE5
label IF_FALSE3
push this 2
call Bola.getPosx 1
push this 2
call Bola.getRadio 1
sub
push constant 10
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 2
push constant 255
call Bola.setPosx 2
pop temp 0
push this 2
push constant 127
call Bola.setPosy 2
pop temp 0
push this 3
call Player.incrementarMarcador 1
pop temp 0
label IF_FALSE6
push this 2
call Bola.getPosx 1
push this 2
call Bola.getRadio 1
add
push constant 500
gt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 2
push constant 255
call Bola.setPosx 2
pop temp 0
push this 2
push constant 127
call Bola.setPosy 2
pop temp 0
push this 4
call Player.incrementarMarcador 1
pop temp 0
label IF_FALSE7
push this 2
call Bola.getPosx 1
push this 2
call Bola.getRadio 1
sub
push constant 15
lt
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 0
call Barra.getPosy 1
push this 2
call Bola.getPosy 1
lt
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 0
call Barra.getPosy2 1
push this 2
call Bola.getPosy 1
gt
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push this 0
call Barra.getPosy 1
push this 0
call Barra.getPosy2 1
push this 0
call Barra.getPosy 1
sub
push constant 2
call Math.divide 2
add
push this 2
call Bola.getPosy 1
gt
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push this 2
push constant 0
call Bola.setDireccion 2
pop temp 0
push this 0
call Barra.getPosy2 1
pop local 0
push local 0
push constant 1
add
pop local 0
push this 0
push local 0
call Barra.setPosy2 2
pop temp 0
goto IF_END11
label IF_FALSE11
push this 0
call Barra.getPosy 1
push this 0
call Barra.getPosy2 1
push this 0
call Barra.getPosy 1
sub
push constant 2
call Math.divide 2
add
push this 2
call Bola.getPosy 1
lt
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push this 2
push constant 1
call Bola.setDireccion 2
pop temp 0
push this 0
call Barra.getPosy2 1
pop local 0
push local 0
push constant 1
add
pop local 0
push this 0
push local 0
call Barra.setPosy2 2
pop temp 0
label IF_FALSE12
label IF_END11
push this 0
call Barra.getPosy 1
push this 0
call Barra.getPosy2 1
push this 0
call Barra.getPosy 1
sub
push constant 2
call Math.divide 2
add
push constant 5
sub
push this 2
call Bola.getPosy 1
lt
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push this 0
call Barra.getPosy 1
push this 0
call Barra.getPosy2 1
push this 0
call Barra.getPosy 1
sub
push constant 2
call Math.divide 2
add
push constant 5
add
push this 2
call Bola.getPosy 1
gt
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push this 2
push constant 4
call Bola.setDireccion 2
pop temp 0
push this 0
call Barra.getPosy2 1
pop local 0
push local 0
push constant 1
add
pop local 0
push this 0
push local 0
call Barra.setPosy2 2
pop temp 0
label IF_FALSE14
label IF_FALSE13
label IF_FALSE10
label IF_FALSE9
label IF_FALSE8
push this 2
call Bola.getPosx 1
push this 2
call Bola.getRadio 1
add
push constant 497
gt
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push this 1
call Barra.getPosy 1
push this 2
call Bola.getPosy 1
lt
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push this 1
call Barra.getPosy2 1
push this 2
call Bola.getPosy 1
gt
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push this 1
call Barra.getPosy 1
push this 1
call Barra.getPosy2 1
push this 1
call Barra.getPosy 1
sub
add
push constant 2
call Math.divide 2
push this 2
call Bola.getPosy 1
gt
if-goto IF_TRUE18
goto IF_FALSE18
label IF_TRUE18
push this 2
push constant 2
call Bola.setDireccion 2
pop temp 0
push this 1
call Barra.getPosy2 1
pop local 0
push local 0
push constant 1
add
pop local 0
push this 1
push local 0
call Barra.setPosy2 2
pop temp 0
goto IF_END18
label IF_FALSE18
push this 1
call Barra.getPosy 1
push this 1
call Barra.getPosy2 1
push this 1
call Barra.getPosy 1
sub
add
push constant 2
call Math.divide 2
push this 2
call Bola.getPosy 1
lt
if-goto IF_TRUE19
goto IF_FALSE19
label IF_TRUE19
push this 2
push constant 3
call Bola.setDireccion 2
pop temp 0
push this 1
call Barra.getPosy2 1
pop local 0
push local 0
push constant 1
add
pop local 0
push this 1
push local 0
call Barra.setPosy2 2
pop temp 0
label IF_FALSE19
push this 1
call Barra.getPosy 1
push this 1
call Barra.getPosy2 1
push this 1
call Barra.getPosy 1
sub
push constant 2
call Math.divide 2
add
push constant 5
sub
push this 2
call Bola.getPosy 1
lt
if-goto IF_TRUE20
goto IF_FALSE20
label IF_TRUE20
push this 1
call Barra.getPosy 1
push this 1
call Barra.getPosy2 1
push this 1
call Barra.getPosy 1
sub
push constant 2
call Math.divide 2
add
push constant 5
add
push this 2
call Bola.getPosy 1
gt
if-goto IF_TRUE21
goto IF_FALSE21
label IF_TRUE21
push this 1
call Barra.getPosy2 1
pop local 0
push local 0
push constant 1
add
pop local 0
push this 1
push local 0
call Barra.setPosy2 2
pop temp 0
push this 2
push constant 5
call Bola.setDireccion 2
pop temp 0
label IF_FALSE21
label IF_FALSE20
label IF_END18
label IF_FALSE17
label IF_FALSE16
label IF_FALSE15
push this 2
call Bola.getDireccion 1
push constant 0
eq
if-goto IF_TRUE22
goto IF_FALSE22
label IF_TRUE22
push this 2
push this 2
call Bola.getPosx 1
push constant 5
add
call Bola.setPosx 2
pop temp 0
push this 2
push this 2
call Bola.getPosy 1
push constant 5
sub
call Bola.setPosy 2
pop temp 0
label IF_FALSE22
push this 2
call Bola.getDireccion 1
push constant 1
eq
if-goto IF_TRUE23
goto IF_FALSE23
label IF_TRUE23
push this 2
push this 2
call Bola.getPosx 1
push constant 5
add
call Bola.setPosx 2
pop temp 0
push this 2
push this 2
call Bola.getPosy 1
push constant 5
add
call Bola.setPosy 2
pop temp 0
label IF_FALSE23
push this 2
call Bola.getDireccion 1
push constant 2
eq
if-goto IF_TRUE24
goto IF_FALSE24
label IF_TRUE24
push this 2
push this 2
call Bola.getPosx 1
push constant 5
sub
call Bola.setPosx 2
pop temp 0
push this 2
push this 2
call Bola.getPosy 1
push constant 5
sub
call Bola.setPosy 2
pop temp 0
label IF_FALSE24
push this 2
call Bola.getDireccion 1
push constant 3
eq
if-goto IF_TRUE25
goto IF_FALSE25
label IF_TRUE25
push this 2
push this 2
call Bola.getPosx 1
push constant 5
sub
call Bola.setPosx 2
pop temp 0
push this 2
push this 2
call Bola.getPosy 1
push constant 5
add
call Bola.setPosy 2
pop temp 0
label IF_FALSE25
push this 2
call Bola.getDireccion 1
push constant 4
eq
if-goto IF_TRUE26
goto IF_FALSE26
label IF_TRUE26
push this 2
push this 2
call Bola.getPosx 1
push constant 5
add
call Bola.setPosx 2
pop temp 0
label IF_FALSE26
push this 2
call Bola.getDireccion 1
push constant 5
eq
if-goto IF_TRUE27
goto IF_FALSE27
label IF_TRUE27
push this 2
push this 2
call Bola.getPosx 1
push constant 5
sub
call Bola.setPosx 2
pop temp 0
label IF_FALSE27
push this 2
call Bola.drawBola 1
pop temp 0
push constant 0
return
function Tablero.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Tablero.resetBarra 1
push argument 0
pop pointer 0
push this 0
call Barra.getPosy 1
push constant 60
add
pop local 0
push this 0
push local 0
call Barra.setPosy2 2
pop temp 0
push this 1
call Barra.getPosy 1
push constant 60
add
pop local 0
push this 1
push local 0
call Barra.setPosy2 2
pop temp 0
push constant 0
return
function Tablero.duplicarBola 0
push argument 0
pop pointer 0
push this 3
call Player.getMarcador 1
push this 4
call Player.getMarcador 1
sub
push constant 2
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
call Bola.getPosx 1
push constant 255
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 7
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
call Bola.duplicarRadio 1
pop temp 0
push constant 1
pop this 7
label IF_FALSE2
goto IF_END1
label IF_FALSE1
push this 2
push constant 5
call Bola.setRadio 2
pop temp 0
push constant 0
pop this 7
label IF_END1
goto IF_END0
label IF_FALSE0
push this 4
call Player.getMarcador 1
push this 3
call Player.getMarcador 1
sub
push constant 2
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 2
call Bola.getPosx 1
push constant 255
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 7
push constant 0
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 2
call Bola.duplicarRadio 1
pop temp 0
push constant 1
pop this 7
label IF_FALSE5
goto IF_END4
label IF_FALSE4
push this 2
push constant 5
call Bola.setRadio 2
pop temp 0
push constant 0
pop this 7
label IF_END4
label IF_FALSE3
label IF_END0
push constant 0
return
function Tablero.getJugador1 0
push argument 0
pop pointer 0
push this 3
return
function Tablero.getJugador2 0
push argument 0
pop pointer 0
push this 4
return
